@charset "UTF-8";
	.rooms{
		position:relative;
		font-size: 30px;
		margin: 300px;
		margin-top: 150px;
	}
	
	.carousel-inner{
		position: relative;
		width: 1500px;
		height: 600px;
	}
	
	.explain{
		color: #7B725E;
	}
	
	.right_box{
		position: absolute;
		right: 0;
		top: 720px;
		font-size: 18px;
	}
	