@charset "UTF-8";
.navColor{
 color:white;
 font-weight: bolder;
 font-size: 1em;
}

.navWhite{
	width:100%;
	position: absolute;
	left: 0;
	top: 0px;
	z-index: 2;
}

#navBlack{
	width:100%;
	position: fixed;
	left: 0;
	top: 0px;
	z-index: 2;
	visibility: hidden;
}

@keyframes slide{
	from{
		top: -100px;
		opacity:0;
	}
	to{
		top: 0px;
		opacity: 1;
	}
}

@keyframes disapper{
	from{
		top: 0px;
		opacity:1;
	}
	to{
		top: -100px;
		opacity: 0;
	}
}